# ERD of books information

![png](Data/books_ERD.png)

## Import libraries for mysql

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
connection_str = "mysql+pymysql://root:d2!obH4d@localhost/books"

In [2]:
engine = create_engine(connection_str)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [3]:
create_database(connection_str)

In [4]:
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

## Import libraries & data for python

- Make dataframes for 4 files
- change dfs to sql in order to run sql

In [5]:
import pandas as pd

In [6]:
users_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
books_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
authors_df = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
favorites_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')

In [10]:
#checking one df to see if opened
users_df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [8]:
users_df.to_sql('users', engine, if_exists = 'replace')
books_df.to_sql('books', engine, if_exists = 'replace')
authors_df.to_sql('authors', engine, if_exists = 'replace')
favorites_df.to_sql('favorites', engine, if_exists = 'replace')

In [9]:
#Showing all tables in database
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [12]:
#Query to find john doe books
q = """SELECT b.title, f.user_id
FROM books AS b
JOIN favorites AS f
ON b.id = f.book_id
WHERE f.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1